ul li {

    padding: 15px;
    list-style-type: none;
}

ul>li>a {
    text-decoration: none;
}



.mar {
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

.text-primary {
    color: rgb(253, 110, 10);
}

/* universal style */
.text-primaryy {
    background-color: rgb(253, 110, 1);
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    border: none;

}

.section-title {
    color: rgb(24, 24, 24);
    font-size: 35px;
}

.section-description {
    color: rgb(117, 117, 117);
    font-size: 18px;
}

/* about */
.about {
    background-color: rgb(255, 248, 243);
    margin-top: 130px;
    text-align: center;
    padding: 100px;
}

.skill {
    text-align: center;
}

.resume {
    text-align: center;
}

.skills {
    display: flex;
    gap: 10px;

    padding: 10px;
}

.about-skill {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

/* main */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* banner style */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 230px;
}

.banner-content {
    width: 584px;
    margin-top: 100px;
}

.banner-pic {
    width: 600px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.header {
    background-color: rgb(255, 248, 243);

    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;


}

.btn {
    text-align: center;
    margin-top: 10px;
}



nav ul {
    display: flex;
    align-items: center;
}

.section-title {
    text-align: center;
}

.parent {
    display: flex;
    justify-content: space-between;
}

.last {
    background-color: bisque;
    width: 1600px;
    height: 400px;
    margin-top: 20px;
}

.final {
    display: flex;
    gap: 100px;
    padding: 130px 230px;
}

footer input [type="text"],
footer input [type="email"],
footer textarea {
    display: block;
    height: 64px;
    width: 100%;
    display: block;
    color: white;
    font-size: 16px;
    padding: 15px 15px;
    margin-bottom: 24px;
}

.fini {
    width: 50%;
}